absl-py
appnope
asttokens
astunparse
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jedi
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
nest-asyncio
numpy
opt-einsum
optree
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
rich
scikit-learn
scipy
setuptools
six
stack-data
tensorboard
tensorboard-data-server
tensorflow==2.13.1
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
widgetsnbextension
wrapt